/*header*/

/* Обычный */

@font-face {
    font-family: Mulish;
    src: url('/css/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('/css/fonts/Ubuntu/Ubuntu-Regular.ttf');
}


body {
    font-family: 'Ubuntu';
}

.navbar-default {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
}

.navbar-nav {
    margin-left: 90px;
}

.navbar {
    border: none;
}

h1{
    font-family: 'Ubuntu';
}

.buttonCenter {
    margin-bottom: 10px;
}